

table#planes_globales{

	width: 90%;
	text-align: center;
}

table#planes_globales tr#titulo{
	background: blue;
	color: white;
}

table#planes_globales tr#subtitulo{
	background: white;
	color: black;
}
table#tabla_user{
	background: red;
	width: 90%;
	color: white;
}

table#tabla_Identificacion{

	background:#BDBDBD;
	width:90%;
}

table#tabla_Identificacion td{

	padding: .5%;	
	background: white;
}

table#tabla_Materias{

    background:#BDBDBD;
	width:90%;
	text-align: center;
}

table#tabla_Materias td{

    padding: .5%;	
	background: white;
}

.id_materia{
	text-align: center;
	border-style: none;

}
.input_invi{
	visibility: hidden;
}

.tabla_Cronograma td{
	
	padding: .5%;
	text-align: center;
	 background:white;
}


.tabla_Cronograma{
	 background:#BDBDBD;
}