

table#planes_globales{

	width: 90%;
	text-align: center;
}

table#planes_globales tr#titulo{
	background: blue;
	color: white;
}

table#planes_globales tr#subtitulo{
	background: white;
	color: black;
}

table#tabla_user{
	background: red;
	width: 90%;
	color: white;
}

table#tabla_Identificacion{

	background:#BDBDBD;
	width:90%;
}

table#tabla_Identificacion td{

	padding: .5%;	
	background: white;
}

table#tabla_Materias{

    background:#BDBDBD;
	width:90%;
	text-align: center;
}

table#tabla_Materias td{

    padding: .5%;	
	background: white;
}

.id_materia{
	text-align: center;
	border-style: none;

}
.input_invi{
	visibility: hidden;
}

table#tabla_PG{

	width: 100%;
}
table#tabla_PG td {
	padding: .5%;

}
.tabla_user{
	background: red;
}

.tabla_lista_docentes{
	background: #BDBDBD;
}

.tabla_lista_docentes td{
	padding: .5%;
	background: white;
	
}

.tabla_PG{
	background: #BDBDBD;
}

.tabla_PG td{
   padding: .5%;
	background: white;
}



h1#titulo_PA{
  
  margin: 0px;
}
h3#titulos_PA{
	background: #81BEF7;
	border-color: black;
}

.input_Carrera{
	border: none;
	font-size: 17px;
	font: bold 100% Times;
}

h3#titulo_niveles{

   border-color: white;
}

.input_Grupo{

	background-color: white;
	text-align: center;
}

.Table_Materia{
	width: 100%;
	text-align: center;
	background-color: white;

}


 td#td_Materia{
 background-color:#154360;
 width: 57%;
 padding: .5%;
 }

 td#td_Grupo{
 background-color:#154360; 
 width: 19.2%;
 padding: .5%;
 }

td#td_Select{
    padding: .5%;
	background-color:#154360;
	width: 14%;
}
td#td_Imprimir{
 background-color:#154360; 
 padding: .5%;

}

.Tabla_Frontal{
	width: 100%;
	color: white;
	text-align: center;
}

 td#td_Materia1{

}

 td#td_Grupo1{

}

td#td_Boton1{

	
}
td#td_Imprimir1{

}

/* Estilos de el buscador*/

table#Manual_Usuario{
   
	background-color: red;
	text-align: center;
	color: white;
}

table#Tabla_Video{
  width: 70%;
}

table#Tabla_Video td{
	
	padding: 1%;
	width: 80%;
	background-color: #E5E8E8;

}
td#td_documentacion{
	
	width: 30%;
}